" =============================================================================
" IdeaVim Configuration
" =============================================================================

" -----------------------------------------------------------------------------
" Basic Settings
" -----------------------------------------------------------------------------
set clipboard=unnamed,unnamedplus    " Use OS clipboard
set clipboard+=ideaput               " Enable native idea paste action
set incsearch                        " Incremental search
set smartcase                        " Smart case search
set number                           " Show line numbers
set relativenumber                   " Show relative line numbers
set cursorline                       " Highlight current line

" IdeaVim specific settings
set idearefactormode=visual
set ideajoin

" Plugins
set surround                         " vim-surround emulation
set easymotion                       " easymotion emulation
set commentary                       " vim-commentary emulation
set NERDTree                         " NERDTree emulation

" NERDTree settings
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" -----------------------------------------------------------------------------
" Leader Key Configuration
" -----------------------------------------------------------------------------
let mapleader=" "

" -----------------------------------------------------------------------------
" Insert Mode Mappings
" -----------------------------------------------------------------------------
inoremap jk <ESC>

" -----------------------------------------------------------------------------
" Config Management
" -----------------------------------------------------------------------------
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" -----------------------------------------------------------------------------
" Navigation - Go to (g prefix)
" -----------------------------------------------------------------------------
nnoremap gc :action GotoClass<CR>
nnoremap gl :action GotoFile<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gu :action FindUsages<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gr :action GotoRelated<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap gj :action MethodDown<CR>
nnoremap gk :action MethodUp<CR>

" -----------------------------------------------------------------------------
" Quick Actions (Optimized for Iris keyboard thumb cluster)
" -----------------------------------------------------------------------------
" Primary: Double-tap Space (오른쪽 엄지의 Alt/Space를 빠르게 두 번)
nnoremap <Space><Space> :action ShowIntentionActions<CR>
inoremap <Space><Space> <Esc>:action ShowIntentionActions<CR>

" Alternative: Semicolon prefix (홈 로우, 오른손 편함)
nnoremap ;a :action ShowIntentionActions<CR>
nnoremap ;d :action QuickJavaDoc<CR>
nnoremap ;i :action QuickImplementations<CR>
nnoremap ;r :action ToggleRenderedDocPresentation<CR>
nnoremap ;e :action ShowErrorDescription<CR>

" Restore semicolon functionality
nnoremap ;; ;

" -----------------------------------------------------------------------------
" Code Folding (z prefix)
" -----------------------------------------------------------------------------
nnoremap zu :action ExpandRegion<CR>
nnoremap zk :action CollapseRegion<CR>
nnoremap zU :action ExpandAllRegions<CR>
nnoremap zK :action CollapseAllRegions<CR>

" -----------------------------------------------------------------------------
" Leader-based Commands
" -----------------------------------------------------------------------------

" File & Project Management (<leader>f)
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fl :action RecentLocations<CR>
nnoremap <leader>fh :action LocalHistory.ShowHistory<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
nnoremap <leader>fp :action ManageRecentProjects<CR>

" Code Actions (<leader>c)
nnoremap <leader>ca :action GotoAction<CR>
nnoremap <leader>cc :action RunAnything<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>co :action OptimizeImports<CR>
nnoremap <leader>ch :action CallHierarchy<CR>
nnoremap <leader>ct :action TypeHierarchy<CR>
nnoremap <leader>cs :action GotoSymbol<CR>

" Refactoring (<leader>r)
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rm :action ExtractMethod<CR>
vnoremap <leader>rm :action ExtractMethod<CR>
nnoremap <leader>rv :action IntroduceVariable<CR>
nnoremap <leader>rf :action IntroduceField<CR>
nnoremap <leader>rp :action IntroduceParameter<CR>

" Window & Tab Management (<leader>w)
nnoremap <leader>wv :action SplitVertically<CR>
nnoremap <leader>wh :action SplitHorizontally<CR>
nnoremap <leader>wu :action Unsplit<CR>
nnoremap <leader>wm :action MaximizeEditorInSplit<CR>
nnoremap <leader>wc :action CloseContent<CR>
nnoremap <leader>wa :action CloseAllEditors<CR>
nnoremap <leader>wo :action CloseAllEditorsButActive<CR>
nnoremap <leader>we :action EditSourceInNewWindow<CR>
nnoremap <leader>wn :action MoveTabRight<CR>

" View & UI (<leader>v)
nnoremap <leader>ve :action SelectInProjectView<CR>
nnoremap <leader>vn :action ShowNavBar<CR>
nnoremap <leader>vz :action ToggleDistractionFreeMode<CR>
nnoremap <leader>vp :action TogglePresentationMode<CR>
nnoremap <leader>vh :action HideAllWindows<CR>

" Git & VCS (<leader>g)
nnoremap <leader>gg :action Vcs.Show.Log<CR>

" Test & Terminal (<leader>t)
nnoremap <leader>tt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>to :action Terminal.OpenInTerminal<CR>

" Debug (<leader>d)
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dd :action ContextDebug<CR>
nnoremap <leader>dr :action Rerun<CR>
nnoremap <leader>dc :action ChooseRunConfiguration<CR>
nnoremap <leader>du :action RunClass<CR>
nnoremap <leader>dt :action ActivateRunToolWindow<CR>
nnoremap <leader>dn :action ActivateDebugToolWindow<CR>

" Other leader commands
nnoremap <leader>x :action Console.Jdbc.Execute<CR>
nnoremap <leader>a :action $SelectAll<CR>

" -----------------------------------------------------------------------------
" Window Navigation (Ctrl+hjkl)
" -----------------------------------------------------------------------------
sethandler <c-h> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-l> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

" -----------------------------------------------------------------------------
" Tab Navigation
" -----------------------------------------------------------------------------
nnoremap <TAB> :action NextTab<CR>
nnoremap <S-TAB> :action PreviousTab<CR>

" -----------------------------------------------------------------------------
" Error Navigation
" -----------------------------------------------------------------------------
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]d :action NextDiff<CR>
nnoremap [d :action PreviousDiff<CR>

" -----------------------------------------------------------------------------
" Visual Mode Enhancements
" -----------------------------------------------------------------------------
vnoremap < <gv
vnoremap > >gv

" -----------------------------------------------------------------------------
" Special Keys
" -----------------------------------------------------------------------------
nnoremap K :action ShowHoverInfo<CR>

" -----------------------------------------------------------------------------
" Global Shortcuts (Ctrl+key)
" -----------------------------------------------------------------------------
nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <c-/> :action FindInPath<CR>
nnoremap <c-p> :action TogglePresentationMode<CR>
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
